@using SIGECA.Entities
@model SIGECA.DTOs.UsuarioDTO


<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">


        <div class="sb-sidenav-menu" style="background-color: #000080">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">-----------------------------------</div>

                @foreach (Permisos permiso in Model.rol.permisos)
                {
                    String value = "http://localhost:51001" + permiso.url;
                    if (permiso.nombre != "GestionarCatalogo")
                    {
                        <a class="nav-link" href="@value">
                            <div class="sb-nav-link-icon"><i class="@permiso.icon"></i></div>
                            @permiso.label
                        </a>
                    }
                    else
                    {
                        <a class="nav-link collapsed" id="sidenavAccordionPages" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            @permiso.label
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">

                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@value">
                                    <div class="sb-nav-link-icon"><i class="@permiso.icon"></i></div>
                                    Tienda 1
                                </a>
                                <a class="nav-link" href="@value">
                                    <div class="sb-nav-link-icon"><i class="@permiso.icon"></i></div>
                                    Tienda 2
                                </a>
                            </nav>
                        </div>
                    }

                }

               <div class="sb-sidenav-menu-heading">-------------------------------------</div>
                
                <a class="nav-link" href="http://localhost:51001">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Cerrar Sesion
                </a>
            </div>
            <br />
        </div>


    </nav>
</div>