@using SIGECA.Entities;
@model IEnumerable<Producto>
@{
    ViewData["Title"] = "Gestionar Producto";
}
    
<h1 class="mt-4">Gestion de Usuarios</h1>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" style="padding:10px 5px">Vista de Administrador</li>
</ol>

<button type="button" class="btn btn-outline-success btn-block"
        id="testJS">
    <i class="fas fa-user-check"></i>
    <span>Test JS</span>
</button>
<div class="card mb-4">
    <div class="card-header">
        <div class="row">
            <div class=" col-10 col-sm-10 col-lg-10 col-xl-10">
                <i class="fas fa-table mr-1"></i>
                Usuarios Registrados actualmente
            </div>
            <div class="col-2 col-sm-2 col-lg-2 col-xl-2">
                <button type="button" class="btn btn-outline-success btn-block"
                        data-bs-toggle="modal" data-bs-target="#registrarUsuario">
                    <i class="fas fa-user-check"></i>
                    <span>Registrar Usuario</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="TableUsuario" class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.nombre)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.tipoVenta)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.stock)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.precio) (x Kg)</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => product.nombre)</td>
                            <td>@Html.DisplayFor(modelItem => product.tipoVenta)</td>
                            <td>@Html.DisplayFor(modelItem => product.stock)</td>
                            <td>S/. @Html.DisplayFor(modelItem => product.precio)</td>
                            <td>
                                <button class="btn"><img class="fas fa-eye" /></button>
                                <button class="btn"><img class="fas fa-edit" /></button>
                                <button class="btn"><img class="fas fa-ban" /></button>
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
        <!--table class="table table-striped table-hover" id="tableUsuarios">
            <thead class="table-dark">
                <tr class="table-active">
                    <th>Nombre Completo</th>
                    <th>Tipo Documento</th>
                    <th >Nro. Documento</th>
                    <th >Tipo Usuario</th>
                    <th >Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gloria Llerena</td>
                    <td>DNI</td>
                    <td>12345678</td>
                    <td>Administrador</td>
                    <td>
                        <div class="row">
                            <div class="col-4">
                                <button type="button" class="btn btn-block btn-outline-danger">
                                    <i class="fas fa-user-slash"></i>
                                    <span>Deshabilitar</span>
                                </button>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-block btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modificarUsuario">
                                    <i class="fas fa-user-edit"></i>
                                    <span>Actualizar</span>
                                </button>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-block btn-outline-info" data-bs-toggle="modal" data-bs-target="#consultarUsuario">
                                    <i class="far fa-address-card"></i>
                                    <span>Consutar</span>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table-->
    </div>
</div>

<div class="modal" id="modalRegistrarUsuario" tabindex="-1" aria-labelledby="registrarUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registrarUsuarioLabel">Registrar Nuevo Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="nombre" class="form-label">Nombres:</label>
                            <input class="form-control" id="nombreUsuarioRegistrar" placeholder="Jose Alberto">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="apellido" class="form-label">Apellidos:</label>
                            <input class="form-control" id="apellidoUsuarioRegistrar" placeholder="Ramirez Perez">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="email" class="form-label">E-Mail: </label>
                            <input type="email" class="form-control" id="emailUsuarioRegistrar" placeholder="ejemplo@dominio.com">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="celular" class="form-label">Nro Celular:</label>
                            <input class="form-control" id="celularUsuarioRegistrar" placeholder="998877665">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label for="direccion" class="form-label">Direccion</label>
                            <textarea class="form-control" id="direccionUsuarioRegistrar" rows="3" placeholder="Av. cerca 123 - Distrito"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="tipoDocumento" class="form-label">Tipo Documento: </label>
                            <select class="form-select" id="tipoDocumentoUsuarioRegistrar" aria-label="Default select example">
                                <option selected value="DNI">D.N.I.</option>
                                <option value="CI">Carnet De Extranjeria</option>
                                <option value="Pasaporte">Pasaporte</option>
                            </select>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="celular" class="form-label">Numero Documento:</label>
                            <input class="form-control" id="celularUsuarioRegistrar" placeholder="12345678">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Registrar Usuario</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modificarUsuario" tabindex="-1" aria-labelledby="modificarUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registrarUsuarioLabel">Modificar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="nombre" class="form-label">Nombres:</label>
                            <input class="form-control" id="nombreUsuarioModificar" placeholder="Jose Alberto">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="apellido" class="form-label">Apellidos:</label>
                            <input class="form-control" id="apellidoUsuarioModificar" placeholder="Ramirez Perez">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="email" class="form-label">E-Mail: </label>
                            <input type="email" class="form-control" id="emailUsuarioModificar" placeholder="ejemplo@dominio.com">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="celular" class="form-label">Nro Celular:</label>
                            <input class="form-control" id="celularUsuarioModificar" placeholder="998877665">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label for="direccion" class="form-label">Direccion</label>
                            <textarea class="form-control" id="direccionUsuarioModificar" rows="3" placeholder="Av. cerca 123 - Distrito"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="tipoDocumento" class="form-label">Tipo Documento: </label>
                            <select class="form-select" id="tipoDocumentoUsuarioModificar" aria-label="Default select example">
                                <option selected value="DNI">D.N.I.</option>
                                <option value="CI">Carnet De Extranjeria</option>
                                <option value="Pasaporte">Pasaporte</option>
                            </select>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="celular" class="form-label">Numero Documento:</label>
                            <input class="form-control" id="celularUsuarioModificar" placeholder="12345678">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Modificar Usuario</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="consultarUsuario" tabindex="-1" aria-labelledby="consultarUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="consultarUsuarioLabel">Detalle de Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="nombre" class="form-label">Nombres:</label>
                            <input class="form-control" id="nombreUsuarioConsultar" placeholder="Jose Alberto">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="apellido" class="form-label">Apellidos:</label>
                            <input class="form-control" id="apellidoUsuarioConsultar" placeholder="Ramirez Perez">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="email" class="form-label">E-Mail: </label>
                            <input type="email" class="form-control" id="emailUsuarioConsultar" placeholder="ejemplo@dominio.com">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="celular" class="form-label">Nro Celular:</label>
                            <input class="form-control" id="celularUsuarioConsultar" placeholder="998877665">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label for="direccion" class="form-label">Direccion</label>
                            <textarea class="form-control" id="direccionUsuarioConsultar" rows="3" placeholder="Av. cerca 123 - Distrito"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="tipoDocumento" class="form-label">Tipo Documento: </label>
                            <select class="form-select" id="tipoDocumentoUsuarioConsultar" aria-label="Default select example">
                                <option selected value="DNI">D.N.I.</option>
                                <option value="CI">Carnet De Extranjeria</option>
                                <option value="Pasaporte">Pasaporte</option>
                            </select>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="celular" class="form-label">Numero Documento:</label>
                            <input class="form-control" id="celularUsuarioConsultar" placeholder="12345678">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="URL_UsuariosListar" value="@Url.Action("GetAll", "Usuario")" />

@section scripts{
    <script type="text/javascript" src="~/js/Usuarios/GestionarUsuario.js"></script>
}